@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.module-card {
  transition: opacity 250ms;
  will-change: opacity;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.module-card-red:hover::before {
  opacity: 1;
}

.module-card-green:hover::before {
  opacity: 1;
}

.module-card-green::before {
  @apply module-card;
  background: linear-gradient(15deg, #10b98112, #10b98100);
}

.module-card-red::before {
  @apply module-card;
  background: linear-gradient(15deg, #ef444412, #ef444400);
}

.title::after {
  transform-origin: left;
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  height: 2px;
  margin-top: 0.5rem;
  background: linear-gradient(90deg, #ffffff, #ffffff00);
  animation: titleAppear 250ms;
}

.op-transition { animation: opacityTransition 250ms; }

@keyframes opacityTransition {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes titleAppear {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}
